@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-intro-wrapper {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e63946;
  padding: 0px 10px;

  @media (max-width: 500px) {
    height: 7vh;
  }
}

.about-intro-title {
  font-family: "MyFont", sans-serif;
  font-size: 2vw;
  letter-spacing: 1px;
  z-index: 1;
  color: #000;
  font-weight: 600;

  @media (max-width: 1220px) {
    font-size: 3vw;
  }

  @media (max-width: 960px) {
    font-size: 3.5vw;
  }

  @media (max-width: 650px) {
    font-size: 5vw;
  }
}

.about-intro-head {
  font-size: 3.5vw;
  padding-top: 8vw;
  padding-bottom: 3vw;
  font-weight: 600;
  line-height: 1.5;
  font-family: "MyFont", sans-serif;
  z-index: 1;
  color: #000;
  letter-spacing: -1px;

  @media (max-width: 1220px) {
    font-size: 4vw;
    letter-spacing: -0.5px;
  }

  @media (max-width: 960px) {
    font-size: 5vw;
    letter-spacing: -0.5px;
  }

  @media (max-width: 650px) {
    font-size: 6.5vw;
  }
}

.about-intro-desc {
  font-family: "MyFont", sans-serif;
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 2;
  z-index: 1;
  margin-bottom: -10rem;
  color: #000;

  @media (max-width: 1220px) {
    font-size: 2.3vw;
  }

  @media (max-width: 960px) {
    font-size: 2.5vw;
  }

  @media (max-width: 650px) {
    font-size: 3vw;
  }
}